<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<!--todo: bkz nedir-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="stnc_base_post_listing_data_source" xsi:type="string">Stnc\Base\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>


    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="hello" xsi:type="object">Stnc\Base\Console\Hello</item>
            </argument>
        </arguments>
    </type>

</config>